<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [3]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [4]:
# Exercise 3 - Create a markdown cell for an introduction

This my notebook for Data Science Tools and Ecosystem summarized.

In [20]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- Learn Markdown text writing
- List some languages used by data scientists
- List some libraries that data scientist use
- Create a table in Markdown language
- Show some arithmetic expressions in Python

In [6]:
# Exercise 4 - Create a markdown cell to list data science languages

Some popular languages that are used in Data Science are:
1. Python
2. R
3. Julia
4. SQL

In [9]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. sklearn
2. numpy
3. scipy
4. pandas
5. ggplot

In [10]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Visual Code|
|Anaconda|
|Jupyter lab|

In [11]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

- 12 + 89
- 45 * (23 - 4)
- 74 / 2

In [14]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [16]:
# This a simple arithmetic expression example to mutiply then add integers
(3*4)+5

17

In [17]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [18]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

In [19]:
# Exercise 10 - Insert a markdown cell to list Objectives

In [22]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author:
Luis Enrique Quispe Paredes